@model UsuarioModel

@{
    Layout = null;
    try
    {
        if (TempData["LoginIvalido"].ToString() != "")
        {
            <div class="alert alert-danger" role="alert">
                <strong>ATENÇÃO!!!</strong> @TempData["LoginIvalido"]
            </div>
        }
    }
    catch { }

}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    
    <link href="~/css/UsuarioLogin/Login.css" rel="stylesheet" />
    

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
<!-- Jquery Core Js -->
<script src="~/plugins/jquery/jquery.js"></script>

<!-- Moment Plugin Js -->
<script src="~/plugins/momentjs/moment-with-locale.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Bootstrap Datepicker Plugin Js -->

<script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script>
 
    //Datepicker Calendar
    $('.datepicker').datepicker.dates['pt-BR']= {
        days: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"],
    daysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
    daysMin: ["Do", "Seg", "Te", "Qu", "Qu", "Se", "Sa"],
    months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
    monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
    today: "Today",
    clear: "Clear",
    format: "dd/mm/yyyy",
    titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
    weekStart: 0
};

</script>