@model MyFinance.Domain.Entities.CashFlowEntity


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
           
          
            <div class="form-group">
                <label asp-for="ValueCash" class="control-label"></label>
                <input asp-for="ValueCash" class="form-control" />
                <span asp-validation-for="ValueCash" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DatePaymentRealized" class="control-label"></label>
                <input asp-for="DatePaymentRealized" class="form-control" />
                <span asp-validation-for="DatePaymentRealized" class="text-danger"></span>
            </div>
            
            <div class="form-group">
               
                <input asp-for="Id" class="form-control" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="Usuario_id" class="form-control" type="hidden" />
                <span asp-validation-for="Usuario_id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="IsActive" class="form-control" type="hidden" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="CreateDate" class="form-control" type="hidden" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <div class="checkbox">
                    @*<input type="checkbox" id="md_checkbox_10" class="chk-col-green" name="md_checkbox_10" @(Model.IsPago ? "checked='checked'" : "")>*@
                    @Html.CheckBoxFor(x=>x.IsPago, new {  @class = "chk-col-green"})
                    <label asp-for="IsPago">@Html.DisplayNameFor(model => model.IsPago)</label>
                    <span asp-validation-for="IsPago" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="../CashFlow/Index">VOLTAR</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
