<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary"><a href="..\Usuario\Login"style="color:aliceblue">Entrar no Sistema</a></button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success">Registrar Uma Conta</button>
    </div>
</div>
@TempData["NomeUsuarioLogado"]