@model UsuarioModel

@{
    Layout = "../Shared/_LayoutLogin.cshtml";
    @*try
    {
        if (TempData["LoginIvalido"].ToString() != "")
        {
            <div class="alert alert-danger" role="alert">
                <strong>ATENÇÃO!!!</strong> @TempData["LoginIvalido"]
            </div>
        }
    }
    catch { }*@

}
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            <form asp-controller="Usuario" asp-action="ValidarLogin">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" asp-for="Email" class="form-control" placeholder="username">

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" asp-for="Senha" class="form-control" placeholder="password">
                </div>
                <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                </div>
                <div class="form-group">
                    <button type="submit" class="btn float-right login_btn">Entrar</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Não possui uma conta? <button type="submit" class="btn float-right login_btn" onclick="javascript:window.location.href='../Usuario/Registrar'">Registrar</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit">Forgot your password?</button>
            </div>
        </div>
    </div>
</div>
